:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --pink: #e12afb;
    --green: #32cd32;
}

h2 {
    text-align: center;
    padding-left:25px;
}

.btn-pay {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.btn-pay:hover {
    background-color: var(--pink);
    color: var(--white);
    text-decoration: none;
    cursor:pointer;
}

.btn-pay:active {
    background-color: var(--green);
    color: var(--white);
    cursor:progress;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation:slideIn 2s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


a:hover {
    color: var(--pink);
}